# Anchor
.anchor
target/
test-ledger/
.DS_Store

# Node
node_modules/
dist/
*.log

# IDL
target/idl/
target/types/

# Keys
*.json
!package.json
!tsconfig.json

# Rust
**/*.rs.bk
Cargo.lock

# Environment
.env
